<h1>Please find below all the data you picked for this calculation :</h1>

<h2><strong><%= @footprint.duration_on_terminal %> </strong></h2>
<h2><strong><%= @footprint.terminal_category %></strong></h2>
<h2><strong><%= @footprint.data_size %></strong></h2>
<h2><strong><%= @footprint.country %></strong></h2>
